.App {
    text-align: center;
  }
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .menu-item {
    border: 1px solid #ddd;
    padding: 20px;
    width: 200px;
    text-align: left;
  }
  
  .menu-item-image {
    width: 100%;
    height: auto;
  }
  
  .menu-item-name {
    font-size: 1.5em;
    margin: 0.5em 0;
  }
  
  .menu-item-category,
  .menu-item-price,
  .menu-item-description {
    margin: 0.2em 0;
  }
  